* {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20px;
    width: 450px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 5px;
    justify-content: center;
    background-color: rgb(214, 125, 214);
    margin-right: auto;
    margin-left: auto;
    border: 3px solid rgb(145, 34, 130);
    border-radius: 15px;
}

.container > button {
    height: 70px;
    border-radius: 15px;
    border: 3px solid rgb(116, 108, 113);
    font-size: 25px;
    background-color: rgba(228, 225, 220, 0.705);
}

.displayScreen {
    margin-top: 15px;
    height: 50px;
    background-color: rgba(228, 225, 220, 0.705);
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: end;
    padding-top: 15px;
    font-size: 40px;
    border-radius: 3px;
}


#C {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

#delete {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 5;
} 

button:hover {
    background-color: rgba(175, 175, 175, 0.616);
}